@import '../../../style/color';
@import '../../../style/mixin';

.field-set {
  .label {
    display: block;
    height: 23px;
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: middle;
      color: $color-aqua-blue;
    }
    .text {
      display: inline-block;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
      color: $color-aqua-blue;
    }
    & + .field {
      margin-top: 10px;
    }
  }
  .field {
    box-sizing: border-box;
    height: calc(100% - 33px);
    padding: 0 10px;
    border-radius: 2px;
    background-color: $color-grey-200;
    &:only-child {
      height: 100%;
    }
    .text-field {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 18px;
      line-height: 34px;
      resize: none;
      @include placeholder {
        color: $color-grey-400;
      }
    }
    .value {
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      height: 100%;
      font-size: 18px;
      line-height: 34px;
      word-break: break-all;
      color: $color-grey-800;
      &.default {
        color: $color-grey-400;
      }
    }
    &.is-multi-line {
      padding: 10px;
      .text-field {
        line-height: 24px;
      }
      .value {
        line-height: 24px;
      }
    }
  }
}