@import '../../../style/color';

.user-info {
  box-sizing: border-box;
  width: 560px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #fff;
  .header {
    .image-frame {
      float: left;
      position: relative;
      width: 110px;
      height: 110px;
      margin-right: 18px;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid rgba(0, 0, 0, 0.7);
        content: '';
      }
      &.default {
        background-color: $color-yellow-50;
        .icon-default {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0 auto;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 110px;
      .nickname {
        display: block;
        font-size: 22px;
        line-height: 30px;
        color: $color-grey-900;
      }
      .summary {
        margin-top: 14px;
        padding-left: 2px;
        font-size: 18px;
        line-height: 22px;
        color: $color-grey-800;
      }
    }
  }
  .field-set {
    margin-top: 16px;
    height: 67px;
  }
  .field-nickname {
    height: 34px;
    padding-right: 106px;
    background-color: #fff;
  }
  .field-summary {
    height: 68px;
    margin-top: 12px;
  }
  .field-description {
    height: 125px;
  }
  .field-fields {
    margin-top: 16px;
  }
  .button-edit {
    position: absolute;
    top: 16px;
    right: 22px;
    width: 50px;
    height: 50px;
    .icon {
      display: block;
      width: 34px;
      height: 34px;
      margin: 0 auto;
      color: #222;
      transition: 0.5s color;
    }
    &.is-edit-mode .icon {
      color: $color-aqua-blue;
    }
  }
  .alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    .icon {
      display: inline-block;
      vertical-align: top;
      color: $color-red-500;
    }
    .text {
      margin-top: 14px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $color-red-500;
    }
  }
}
